*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 110px;
    width: 100%;
}
ul li a:hover{
    color: rgb(42, 122, 165);
}
ul{
    display: flex;
    float: right;
    list-style-type: none;
    margin: 0 300px 0;
}
ul li a{
    text-decoration: none;
    list-style-type: none;
    color: black;
}
header img{
    height: 90px;
    width: 130px;
    margin: 10px 100px 0px;
}
ul li{
    margin: 25px;
    font-size: 18px;
    font-family: Arial;
    padding: 20px;
}
.menu{
    height: 700px;
    width: 100%;
    background: url(image/fond.jpg);
    position: absolute;
    background-size: cover;
}

.oublie{
    margin-top: 800px;
}
.oublie .mon-h1{
    margin-left: 350px;
    font-size: 50px;
}
.oublie section div{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.238);
    height: 500px;
    width: 400px;
    margin: 10px 20px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
.oublie section img{
    height: 250px;
    width: 400px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.oublie section p{
    font-family: fantasy;
}
.oublie section{
    margin-left: 350px;
}
.vide {
    height: 100px;
}
.importances{
    height: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.029);
}
.importances .mon-H1{
    text-align: center;
    font-size: 40px;
    top: 50px;
    position: relative;
}
.importances .mon-p{
    text-align: center;
    top: 70px;
    position: relative;
    font-family: arial;
}
.importances section div{
    border: 1px solid rgba(0, 0, 0, 0.238);
    height: 450px;
    width: 380px;
    margin: 25px 20px;
    border-radius: 30px;
    background-color: white;
}
.importances section{
    display: flex;
    justify-content: center;
    margin: 5% 20%;
}
.importances section h3{
    font-family: Verdana;
    margin: 30px 0px 20px 30px;
}
.importances section p{
    font-family: sans-serif;
    margin: 10px 30px 0;
}
.importances hr{
    width: 300px;
    margin: 15% 10%;
}
.importances section h5{
    font-size: 17px;
    margin: 1px 30px 0;
    font-family: Verdana;
}
.importances i{
    font-size: 20px;
    margin: 25px 30px 0;
}
.assurance{
    margin: 20px 18%;
    text-align: center;
    color: white;
    height: 160px;
    width: 1300px;
    background-color: rgba(0, 0, 255, 0.742);
    border-radius: 25px;
}
.assurance h1{
    position: relative;
    top: 40px;
}
.assurance p{
    position: relative;
    top: 50px;

}
.rappel{
    top: 50px;
    position: relative;
    height: 520px;
    background-color:rgba(4, 111, 164, 0.089);
}
.rappel .texte {
    text-align: center;
}
.travail{
    display: flex;
    justify-content: center;
}
.travail div{
    height: 280px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.654);
    border-radius: 25px;
    margin: 70px 15px;
}
.rappel .texte h1{
    font-size: 48px;
    position: relative;
    top: 20px;
}
.rappel .texte p{
    font-size: 18px;
    position: relative;
    top: 40px;
}
.travail div .r-H1{
    margin: 30px 0px 20px 20px;
    font-family: Verdana;
}
.travail div .r-H2{
    margin: 20px 0px 20px 20px;
    font-family: Verdana;
}
.travail div .r-H3{
    margin: 20px 0px 20px 20px;
    font-family: Verdana;
}
.point{
    height: 400px;
    margin-top: 900px;
    justify-content: center;
    display: flex;
}
.point div {
    height: 300px;
    width: 550px;
    margin: 15px;
    position: relative;
}
.point div section {
    display: flex;
    justify-content: left;
}
.point img{
    height: 90px;
    width: 90px;
    margin-top: 20px;
    border-radius: 10px;
}
.point .section1{
    font-size: 40px;
    color: #38836d;
}
.point h1{
    font-size: 47px;
}
#section1 p{
    font-family: Verdana;
    margin: 25px 0;
}
#section1 button{
    height: 35px;
    width: 180px;
    font-size: 15px;
    border-radius: 16px;
    border: none;
    background: rgba(0,0,0,.05);
    color: #000;
}
#section1 button:hover{
    
    background: rgba(0, 0, 0, 0.146);
    font-size: 16px;
}
#section2 p{
    margin-top: 30px;
    font-family: Verdana;
}
#section2 section{
    margin-left: 130px;
    top: -90px;
    position: relative;
}
#section2 section i{
    color: #38836d;
    position: relative;
    margin-top: 30px;
    margin-left: 5px;
}
.etoile{
    height: 500px;
    width: 100%;
    background-color: rgba(106, 103, 103, 0.029);
    text-align: center;
}
.etoile .etoile1 h1{
    position: relative;
    font-family: Arial;
    font-size: 48px;
    top: 50px;
}
.etoile .etoile1 p{
    position: relative;
    top: 70px;
    font-family: Verdana;
}
select{
    top: 50px;
    position: relative;
    height: 50px;
    width: 700px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.063);
    background: rgba(0,0,0,.05);
}
.etoile .etoile-float{
    height: 250px;
    width: 1250px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.742);
    margin: 120px 20%;
    border-radius: 20px;
}
.etoile .etoile-float h1{
    position: relative;
    font-family: Arial;
    font-size: 45px;
    top: 40px;
}
.etoile .etoile-float p{
    position: relative;
    top: 50px;
    font-family: Verdana;
}
.sourire{
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.sourire div{
    height: 300px;
    width: 370px;
    margin: 200px 10px;
    position: relative;
}
.sourire div h3{
    position: relative;
    font-family: Arial;
    font-size: 25px;
}
.sourire div p{
    position: relative;
    font-family: Verdana;
}
.sourire div i{
    font-size: 30px;
}
.photo{
    justify-content: center;
    display: flex;
}
.photo div{
    height: 450px;
    width: 650px;
    margin: 100px 50px;
    border-radius: 20px;
}
.photo div img{
    height: 450px;
    width: 470px;
    border-radius: 20px;
}
.photo div h1{
    position: relative;
    font-family: Tahoma;
    font-size: 45px;
    top: 45px;
    position: relative;
}
.photo div p{
    position: relative;
    font-family: Verdana;
    top: 60px;
    position: relative;
}
.rose{
    height: 760px;
    background-color:rgba(4, 111, 164, 0.089);
}
.rose h1{
    position: relative;
    font-family: Tahoma;
    font-size: 45px;
    text-align: center;
    top: 45px;
    position: relative;
}
.rose .rose-p{
    position: relative;
    font-family: Verdana;
    top: 60px;
    text-align: center;
    position: relative;
}
.rose .rose-div{
    justify-content: center;
    display: flex;
}
.rose .rose-div div{
    border: 1px solid rgba(0, 0, 0, 0.238);
    height: 380px;
    width: 380px;
    margin: 90px 20px;
    border-radius: 30px;
    background-color: white;
}
.rose .rose-div div h2{
    position: relative;
    font-family: Tahoma;
    margin: 30px 0 20px 30px;
    position: relative;
}
.rose .rose-div p{
    position: relative;
    font-family: Verdana;
    position: relative;
    margin: 20px 0 20px 30px;
}
.rose .rose-div i{
    font-size: 35px;
    margin: 30px 0 20px 35px;
}

.card{
    height: 740px;
}
.card h1{
    position: relative;
    font-family: Tahoma;
    font-size: 45px;
    text-align: center;
    top: 45px;
    position: relative;
}
.card .card-p{
    position: relative;
    font-family: Verdana;
    top: 60px;
    text-align: center;
    position: relative;
}
.card .card-div{
    justify-content: center;
    display: flex;
}
.card .card-div div{
    border: 1px solid rgba(0, 0, 0, 0.238);
    height:250px;
    width: 380px;
    margin: 90px 30px;
    border-radius: 30px;
    background-color: white;
}
.card .card-div div h2{
    position: relative;
    font-family: Tahoma;
    margin: 30px 0 20px 30px;
    position: relative;
}
.card .card-div p{
    position: relative;
    font-family: Verdana;
    position: relative;
    margin: 20px 0 20px 30px;
}

.opter{
    background-color: rgba(106, 103, 103, 0.029);
    height: 370px;
    width: 100%;
    text-align: center;
}
.opter .opter1 h1{
    position: relative;
    font-family: Arial;
    font-size: 48px;
    top: 50px;
}
.opter .opter1 p{
    position: relative;
    top: 70px;
    font-family: Verdana;
}
select{
    top: 100px;
    position: relative;
    height: 50px;
    width: 700px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.063);
    background: rgba(0,0,0,.05);
}
.body-h1{
    position: relative;
    font-family: Tahoma;
    position: relative;
    text-align: center;
    margin: 30px 0px 0px;
    font-size: 37px;
}
.exo{
    display: flex;
    justify-content: center;
    height: 610px;
}
.exo div{
    height: 550px;
    width: 700px;
    position: relative;
    font-family: Verdana;
    position: relative;
    margin: 40px 20px 20px 10px;
    line-height: 22px;
}
.exo div img{
    width: 700px;
    height: 300px;
    border-radius: 30px;
    margin: 10px 0 30px 0;
}

.exo2{
    display: flex;
    justify-content: center;
    height: 610px;
}
.exo2 div{
    height: 550px;
    width: 700px;
    line-height: 22px;
    position: relative;
    font-family: Verdana;
    position: relative;
    margin: 10px 20px 0px 10px;
}
.exo2 div img{
    width: 700px;
    height: 300px;
    border-radius: 30px;
    margin: 10px 0 30px 0;
}
.body-btn{
    margin: 5px 43%;
    height: 40px;
    width: 300px;
    font-size: 14px;
    border-radius: 16px;
    border: none;
    background: rgba(0,0,0,.05);
    color: #000;
}
.body-btn:hover{
    
    background: rgba(0, 0, 0, 0.146);
    font-size: 15px;
}


footer {
    background-color: black;
    height: 200px;
    display: flex;
    width: 100%;
}
footer div{
    display: flex;
    justify-content: center;
    color: #FFF;
}
footer p{
    margin: 40px 0 0 500px;
    line-height: 22px;
}
footer img{
    height: 110px;
    width: 160px;
    margin: 50px 0px 0px 50px;
}